@using MVCDemo.Models
@using MVCDemo.Common
@using MVCDemo.Controllers
@using System.Data.Entity
@model List<User>

@{
    const string thumb = "~/Images/No_Image_Available.png";
    var users = Model;
    var authUserVM = UserToLoginViewModel.GetAuthenticated();
    var authUser = new ProjectDbContext().Users.Include(u => u.AddedToFriends)
        .Single(u => u.UserName == authUserVM.UserName);
}
<div class="row row-cols-gutter-10">
    <div class="col-sm-12">
        <div class="row row-cols-gutter-10">
            <div class="col-xs-12 vertical-gutter-10">
                <div class="title-container">Twoi Znajomi</div>
            </div>
        </div>
        <div class="row row-cols-gutter-10">
            <div class="col-xs-12 vertical-gutter-10">
                <div class="content-container outer-container-gutter-10">
                    <div class="row row-cols-gutter-10 vertical-gutter-0 vertical-margin-0">
                        @foreach (var u in users)
                        {
                            var avatar = u.AvatarId == null || u.Avatar == null ? thumb : u.Avatar.FullUrl;
                            <div class="col-md-6">
                                <div class="row row-cols-gutter-10 active-friends-item-row row-flex">
                                    <div class="col-fixed-60 vertical-gutter-10">
                                        <div class="active-friend-avatar-container">
                                            <div class="bg-img-responsive" style="background-image: Url('@Url.Content(avatar)')"></div>
                                        </div>
                                    </div>
                                    <div class="col-fixed-rest-1 vertical-gutter-10">
                                        <div class="active-friend-username-container">
                                            @u.UserName (@authUser.GetDistanceAsString(u))
                                        </div>
                                    </div>
                                    <div class="col-fixed-200 vertical-gutter-10">
                                        <div class="active-friend-buttons-container">
                                            @if (authUser.IsFriendWith(u))
                                            {
                                                <input value="Usuń" type="button" class="btn btn-danger btn-remove-friend" user-id="@u.Id" />
                                                <input name="SelectUser" class="checkbox" id="@("cbSelectUser_"+u.Id)" user-id="@u.Id" type="checkbox" value="true" />
                                                <label class="control-label" for="@("cbSelectUser_"+u.Id)"><span></span></label>
                                            }
                                            else if (authUser.HasAddedToFriends(u))
                                            {
                                                <input value="Zaproszono..." type="button" class="btn btn-info btn-friend-invite-sent" user-id="@u.Id" disabled />
                                                <input value="Anuluj" type="button" class="btn btn-info btn-danger btn-cancel-invitation" user-id="@u.Id" />
                                            }
                                            else if (authUser.IsAddedAsFriendBy(u))
                                            {
                                                <input value="Akceptuj" type="button" class="btn btn-success btn-accept-friend-invite" user-id="@u.Id" />
                                                <input value="Odrzuć" type="button" class="btn btn-danger btn-decline-friend-invite" user-id="@u.Id" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-gutter-10">
            <div class="col-xs-12 vertical-gutter-10">
                <div class="title-container">Wyślij Powiadomienie</div>
            </div>
        </div>
        <div class="row row-cols-gutter-10">
            <div class="col-xs-12 vertical-gutter-10">
                <div class="content-container outer-container-gutter-10">
                    <div class="row row-cols-gutter-10">
                        <div class="col-xs-12 vertical-gutter-10">
                            <div>
                                <input type="text" class="form-control" id="txtNotificationTitle" placeholder="Tytuł..." />
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-gutter-10">
                        <div class="col-xs-12 vertical-gutter-10">
                            <div>
                                <textarea class="form-control" rows="5" id="txtNotificationContent" placeholder="Wiadomość..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-gutter-10">
                        <div class="col-lg-2 col-md-3 col-sm-5 vertical-gutter-10">
                            <div>
                                <input value="Wyślij do Zaznaczonych" type="button" class="btn btn-primary btn-send-notification-to-selected"/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-gutter-10">
                        <div class="col-lg-2 col-md-3 col-sm-5 vertical-gutter-10">
                            <div>
                                <input value="Wyślij do Wszystkich" type="button" class="btn btn-primary btn-send-notification-to-all"/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-gutter-10">
                        <div class="col-lg-2 col-md-3 col-sm-5 vertical-gutter-10">
                            <div>
                                <input value="Wyślij gdy Dystans <" type="button" class="btn btn-primary btn-send-notification-by-distance"/>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-5">
                            <div class="row row-cols-gutter-10 row-flex">
                                <div class="col-fixed-rest-1 vertical-gutter-10">
                                    @Html.TextBox("NotificationDistance", null, new
                                    {
                                        @id = "txtNotificationDistance",
                                        @class = "form-control",
                                        Name = "NotificationDistance",
                                        @placeholder = "Dystans..."
                                    })
                                </div>
                                <div class="col-fixed-34 vertical-gutter-10">
                                    @Html.Label("km", new
                                    {
                                        @for = "NotificationDistance",
                                        @class = "control-label"
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
