@using System.Web.Mvc.Html
@using MVCDemo.Common
@using MVCDemo.Models
@model UserToActivateViewModel

@{
    var modelType = Model.GetType();
    var activationEmailDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.ActivationEmail)));
    var activationCodeDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.ActivationCode)));
}

@using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmActivateAccountPanel", @class = "form-horizontal row-cols-gutter-10" }))
{
    <div class="col-sm-12">
        <div class="row row-cols-gutter-10">
            <div class="col-xs-12 vertical-gutter-10">
                <div class="title-container">Aktywacja Konta</div>
            </div>
        </div>
        <div class="row row-cols-gutter-10">
            <div class="col-xs-12 vertical-gutter-10">
                <div class="content-container outer-container-gutter-10">
                    <div class="form-group row-cols-gutter-10 vertical-gutter-0 vertical-margin-0">
                        <div class="col-xs-12 col-sm-3 vertical-gutter-10">
                            <div class="activation_editor_label">
                                @Html.LabelFor(model => model.ActivationEmail, activationEmailDisplayName + ": ", new { @for = "ActivationEmail", @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 vertical-gutter-10">
                            <div class="activation_editor_field">
                                @Html.TextBoxFor(model => model.ActivationEmail, new { @id = "txtActivationEmail", @class = "form-control", Name = "ActivationEmail", @placeholder = activationEmailDisplayName + "..." })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 vertical-gutter-10">
                            <div class="validation-indicator-container">
                                <div id="validation-indicator-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row-cols-gutter-10 vertical-gutter-0 vertical-margin-0">
                        <div class="col-xs-12 col-sm-3 vertical-gutter-10">
                            <div class="activation_editor_label">
                                @Html.LabelFor(model => model.ActivationCode, activationCodeDisplayName + ": ", new { @for = "ActivationCode", @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 vertical-gutter-10">
                            <div class="activation_editor_field">
                                @Html.TextBoxFor(model => model.ActivationCode, new { @id = "txtActivationCode", @class = "form-control", Name = "ActivationCode", @placeholder = activationCodeDisplayName + "...", @Value = string.Empty })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 vertical-gutter-10">
                            <div class="validation-indicator-container">
                                <div id="validation-indicator-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row-cols-gutter-10 vertical-gutter-0 vertical-margin-0">
                        <div class="col-xs-12 vertical-gutter-10">
                            <div>
                                <span id="lnkbtnSendActivationCodeAgain" class="linklike">Wyślij ponownie Kod Aktywacyjny</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row-cols-gutter-10 vertical-gutter-0 vertical-margin-0">
                        <div class="col-xs-12 vertical-gutter-10">
                            <div>
                                <input type="button" id="btnActivateAccount" class="btn btn-primary" value="Aktywuj Konto" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}